<!--
    File Name: footer.ejs
    Student's Name: Kai-Pang Hung
    Student ID: 301207607
    Date: June-19-2022
-->
<nav class="navbar fixed-bottom bg-light">
  <div class="container-fluid">
    <div class="footer">
      &copy; 2022 Kai-Pang Hung. Summer 2022. Assignment2.
    </div>
  </div>
</nav>